<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<title>Seven</title>
		<link href="css/mui.min.css" rel="stylesheet" />
		<script src="js/vue.min.js"></script>
		<script src="js/vue-resource.js"></script>
		<script src="api.js"></script>
		<script>
			document.addEventListener('plusready', init);

			function init() {
				let app = new Vue({
					el: '#app',
					data: {
						score: 0,
						aScore: 300,
						reason: ''
					},
					mounted() {
						this.getTotal();
					},
					methods: {
						addAScore() {
							this.aScore += 100;
						},
						reduceAScore() {
							if(this.aScore - 100 > 300) {
								this.aScore -= 100;
							} else {
								plus.nativeUI.toast('不能再少了！！！');
							}
						},
						getTotal() {
							this.$http.get(requestPrefix + 'score/all').then(res => {
								this.score = res.data.data;
							});
						},
						addScore() {
							let vm = this;
							let title = '确定要加 ' + this.aScore + ' 分吗？';
							plus.nativeUI.confirm(title, function(e) {
								if(e.index === 0) {
									plus.nativeUI.showWaiting("等待中...");
									Vue.http.post(requestPrefix + 'score', {}, {
										params: {
											score: vm.aScore,
											reason: vm.reason,
											writer: 1
										}
									}).then(res => {
										plus.nativeUI.closeWaiting();
										if(res.data.status == 'success') {
											vm.getTotal();
											vm.reason = '';
											plus.nativeUI.toast('恭喜，添加成功！');
										} else {
											plus.nativeUI.toast('出现了未知的错误！');
										}
									});
								} else {
									plus.nativeUI.toast('再加点分吧！');
								}
							}, "Seven", ["确定", "取消"]);
						}
					}
				});
			}
		</script>
		<style type="text/css">
			.mui-input-group {
				margin-top: 10px;
			}
			
			.mui-input-group:first-child {
				margin-top: 20px;
			}
			
			.mui-content-padded {
				margin-top: 25px;
			}
			
			.mui-input-row label {
				width: 35%;
			}
		</style>
	</head>

	<body>
		<header class="mui-bar mui-bar-nav" style="padding-right: 15px;">
			<a id="more" class="mui-icon mui-icon-more mui-pull-right" style="color: #999;"></a>
			<h1 class="mui-title">Score</h1>
		</header>
		<div class="mui-content" id="app">
			<ul class="mui-table-view">
				<li class="mui-table-view-cell mui-media">
					<div class="mui-input-row">
						<label style="width:35%;"><strong>当前分数</strong></label>
						<label style="width:65%;text-align: center;">{{score}}</label>
					</div>
				</li>
			</ul>

			<div class="mui-input-group">
				<div class="mui-input-row" style="height: 50px;">
					<label style="margin-top: 5px;"><strong>今日加分</strong></label>
					<div style="float: none;width: 55%;height: 46px;" class="mui-numbox">
						<button class="mui-btn mui-numbox-btn-minus" type="button" @click="reduceAScore">-</button>
						<input class="mui-numbox-input" v-model="aScore" type="number" />
						<button class="mui-btn mui-numbox-btn-plus" type="button" @click="addAScore">+</button>
					</div>
				</div>
			</div>
			<div class="mui-input-group">
				<div class="mui-input-row" style="margin: 10px 0;height: auto;">
					<textarea v-model="reason" rows="5" placeholder="加分理由"></textarea>
				</div>
			</div>
			<div class="mui-content-padded">
				<button class="mui-btn mui-btn-block mui-btn-primary" @click="addScore">确定</button>
			</div>
		</div>
		<script src="js/mui.min.js"></script>
		<script type="text/javascript">
			document.getElementById('more').addEventListener('tap', function() {
				mui.openWindow({
					url: "more.html",
					id: "more",
					show: {
						aniShow: 'zoom-fade-out',
						duration: 300
					}
				});
				return;
			});
		</script>
	</body>

</html>